.tutor-container {
    margin-top:5%;
    display: flex;
  }
  
  .left-side {
    width: 30%;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    height: 100vh; /* Full height */
    overflow-y: auto; /* Enable scrolling */
  }
  
  .right-side {
    width: 70%;
    padding: 20px;
  }
  
  .heading-box {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  .student-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .student-details {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
  }  